.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.tasks-board {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.task-column {
  background-color: #607B8F;
  width: 350px;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.column-title {
  color: #ffffff;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #F7E396;
  padding-bottom: 10px;
}