.navbar {
  background-color: #434E78;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  min-width: 600px;
}

.navbar-links {
  display: flex;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.navbar-links li {
  margin-left: 20px;
  margin-right: 20px;
}

.navbar-links a {
  color: #F7E396;
  text-decoration: none;
  font-size: 18px;
}

.navbar-links a:hover {
  color: #E97F4A;
}

.dark-mode-button {
  background-color: #607B8F;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
}