.project-card {
  background-color: #ffffff;
  width: 300px;
  border-radius: 10px;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;

  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;

  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.project-title {
  color: #434E78;
  margin-top: 0px;
  margin-bottom: 10px;
}

.project-description {
  color: #607B8F;
  font-size: 14px;
  margin-bottom: 20px;
}

.tasks-info {
  margin-bottom: 20px;
  font-weight: bold;
}

.view-tasks-btn {
  background-color: #E97F4A;
  color: white;
  border-style: none;
  cursor: pointer;
  border-radius: 5px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;

  width: 100%;
}