.task-card {
  background-color: #ffffff;
  border-radius: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.task-card-title {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #434E78;
}

.task-card-description {
  font-size: 14px;
  color: #607B8F;
  margin-bottom: 15px;
}

.task-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-status-tag {
  font-size: 12px;
  background-color: #F7E396;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
}

.delete-task-btn {
  background-color: #ff4d4d;
  color: white;
  border-style: none;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}